* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Share Tech Mono", sans-serif;
  font-size: 12px;
  background-color: #111;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100vh;
}

*::selection {
  background: none;
}

header {
  position: relative;
  display: grid;
  place-items: center;
  border-bottom: 1px dotted rgb(130, 130, 130);
  z-index: 2;
  background-color: #111;
  position: fixed;
  width: 100%;
}

.header-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  min-width: 300px;
  width: 75%;
  padding: 0.25rem;
  z-index: 2;
}

.logo {
  width: 64px;
  height: 64px;
  margin: auto;
  border-radius: 100%;
  margin-top: 10px;
  border: solid 1px rgb(154, 192, 4);
}

.menu-toggle-btn {
  display: none;
}

.nav-link {
  font-size: 1.05rem;
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 0.75rem;
}

.nav-link:hover,
.nav-link:active {
  text-decoration: underline;
}

.seperator {
  color: rgb(203, 203, 203);
  font-size: 1rem;
  margin-right: 0.75rem;
}

.center-container {
  width: 100%;
  display: grid;
  place-items: center;
}

.page-content {
  margin-top: 70px;
  width: 75%;
  max-width: 900px;
  min-width: 300px;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #111;
}

.title {
  font-weight: 500;
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  line-height: 2rem;
}

.subtitle {
  color: rgb(203, 203, 203);
  font-size: 1.15rem;
  font-weight: 500;
}

.page-section {
  margin-top: 3rem;
}

.section-text {
  color: rgb(203, 203, 203);
  font-size: 1.15rem;
  margin-left: 0.5rem;
}

.subtitle::selection,
.section-text::selection {
  color: rgb(154, 192, 4);
}

.register {
  color: rgb(203, 203, 203);
  text-transform: none;
  align-self: end;
  margin-top: 2rem;
}

.register:hover {
  color: #fff;
}

hr {
  margin-top: 3rem;
  height: 1px;
  background-color: #fff;
  outline: none;
}

.team-slider {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0.5rem;
}

.card {
  height: 200px;
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  transition: transform 0.1s linear;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.card:hover {
  transform: scale(1.05);
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin-bottom: 2rem;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.3);
  overflow: hidden;
}

p.name {
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}

p.role {
  color: rgb(203, 203, 203);
}

.contact-link {
  text-transform: none;
}
ul {
  list-style-type: none;
}
li:not(:last-child) {
  margin-bottom: 1rem;
}

footer {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: rgb(203, 203, 203);
  border-radius: 100%;
  border: 1px solid rgb(203, 203, 203);
  font-size: 1.25rem;
}

.social-link:not(:last-child) {
  margin-right: 0.5rem;
}

.social-link:hover {
  color: #fff;
  border-color: #fff;
}

.footer-bottom {
  margin-top: 2rem;
}

.footer-text {
  color: rgba(228, 228, 228, 0.5);
  text-align: center;
}

@media screen and (max-width: 850px) {
  body {
    overflow-x: hidden;
  }
  .header-contents {
    width: 100%;
    padding: 0.5rem 1.75rem;
  }
  .page-content {
    width: 100%;
    padding: 2rem 1.75rem;
  }
  .logo {
    width: 48px;
    height: 48px;
  }
  .title {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .section-text {
    font-size: 1rem;
  }
  .seperator {
    display: none;
  }
  nav {
    background-color: #111;
    position: absolute;
    top: 70px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: calc(100vh - 70px);
    overflow-y: scroll;
  }
  .menu-toggle-btn {
    display: block;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .menu-icon {
    display: block;
    color: rgb(203, 203, 203);
    font-size: 1.25rem;
  }
  .menu-icon:hover,
  .emnu-icon:active {
    color: #fff;
  }
  .menu-open {
    transition: transform 0.25s ease-out;
    transform: translateX(0);
    z-index: -1;
  }
  .menu-close {
    transition: transform 0.25s ease-out;
    transform: translateX(-100%);
  }
}

.vol-container {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.volunteer.card {
  width: 200px;
  height: 200px;
  margin-right: 0;
}

.image-viewer {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;
}

.overlay {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
  color: rgb(203, 203, 203);
}

.overlay .menu-icon {
  margin-right: 1rem;
  font-size: 2rem;
  align-self: end;
  cursor: pointer;
}

.img-container {
  width: 50%;
  max-width: 450px;
  min-width: 300px;
  max-height: 450px;
  min-height: 300px;
  overflow: hidden;
  border: 2px dashed #9ac004;
  padding: 1rem;
}

.pulse {
  animation: pulse 0.5s ease-in-out;
}

.big-img {
  width: 100%;
  object-fit: cover;
}

@keyframes pulse {
  from {
    transform: scale(0.2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.title.f {
  margin-top: 2rem;
}

.links {
  width: 100%;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.link {
  width: 25%;
  min-width: 225px;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  transition: transform 0.2s ease-in, opacity 0.2s ease-in;
}

.link:hover {
  transform: scale(1.05);
  opacity: 0.85;
}

/* scroll bar */

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(228, 228, 228, 0.5);
  height: 2px;
}

* {
  scrollbar-width: thin;
}

/* scroll bar */

.shop {
  height: calc(100vh - 80px);
}

.shop-coming-soon {
  font-size: 2rem;
  text-align: center;
  line-height: 2rem;
}

.accent {
  color: rgb(154, 192, 4);
}

/* events page */

.page-banner {
  width: 100%;
  border: 2px dashed #9ac0049d;
  padding: 10px;
  margin-bottom: 2rem;
}
